<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecondProjectCore</title>

    <!-- Favicons -->
    <link href="~/assets1/img/favicon.png" rel="icon">
    <link href="~/assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets1/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets1/css/style.css" rel="stylesheet">

</head>
@{
    @using System.Security.Claims
    @using ECommerceWebsite.Models.ViewModals


    var userID = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userImage = User.FindFirst(CustomClaimTypes.UserImage)?.Value;
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;

}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerceWebsite</a>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <div class="avatar">
                                    <img src="~/images/usrProfileImages/@userImage" alt="User Photo" class="w-40 h-auto rounded-circle" />
                                </div>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-online me-3">
                                                    <img src="~/images/usrProfileImages/@userImage" alt="User Avatar" class="w-40 h-auto rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@userName</span>                                                    
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                  
                                    <li>
                                        <a asp-area="" asp-controller="Users" asp-action="EditUser" asp-route-id="@userID" class="dropdown-item">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                  
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                        <li class="nav-item position-relative">
                            <a  class="nav-link text-dark" asp-controller="Cart" asp-action="Index">
                                <i class="bx bx-cart" style="font-size: 1.55rem; margin-right:3px"></i>
                                <span style="
                                         background-color: #34b7a7;
                                         color: #fff;
                                         font-size: 0.75rem;
                                         padding: 0.25em 0.6em;
                                         border: 1px solid #fff;
                                         box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
                                         position: absolute;
                                         top: 0;
                                         right: 0;
                                         transform: translate(50%, -50%);
                                         border-radius: 50%; "
                                        class="badge rounded-pill">
                                    @(int.TryParse(Context.Session.GetString("CartCounter"), out int count) ? count : 0)
                                </span>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                <div class="col-md-6">
                   @*  @model ECommerceWebsite.Models.Testimonial *@

                    <h5>Submit a Testimonial</h5>
                  @*   <form asp-controller="Testimonials" asp-action="Create" method="post" class="testimonial-form">
                        <div class="form-group">
                         
                            <textarea asp-for="Content" class="form-control" rows="3" placeholder="Write your testimonial here"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </form> *@
                </div>
            </div>
        </div>
    </footer>
    <style>
        .avatar {
            position: relative;
            width: 2.375rem;
            height: 2.375rem;
            cursor: pointer;
        }

            .avatar img {
                width: 100%;
                height: 100%;
            }

            .avatar .avatar-initial {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: #8592a3;
                font-weight: 700;
            }

    </style>

    <!-- Vendor JS Files -->
    <script src="~/assets1/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets1/vendor/aos/aos.js"></script>
    <script src="~/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets1/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets1/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets1/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets1/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets1/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets1/js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
