@model IEnumerable<ECommerceWebsite.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";

}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                    <div class="container-fluid" style="display:flex; justify-content:space-around">
                        <form asp-action="Accept" asp-route-id="@item.TestimonialID" method="post">
                            <button type="submit" class="btn btn-outline-success" style="">Accept</button>
                        </form>

                        <form asp-action="RejectTestimonial" asp-route-id="@item.TestimonialID" method="post">
                            <button type="submit" class="btn btn-outline-danger" style="display:inline">Reject</button>
                        </form>
                    </div>

            </td>
        </tr>
}
    </tbody>
</table>
